//gitlab.centigrade.de/api/v4/projects/:_authToken=${NPM_TOKEN}
//gitlab.centigrade.de/api/v4/packages/npm/:_authToken=${NPM_TOKEN}

@leanscope:registry=https://gitlab.centigrade.de/api/v4/packages/npm/
